:root {
  /* Font sizes */
  --normal-weight: 200;
  --font-size-small: 0.875rem; /* Small text size (14px) */
  --font-size-body: 1.125rem; /* Paragraph text (18px) */
  --font-size-subheading: 1.5rem; /* Subheading (24px) */
  --font-size-heading: 2rem; /* Heading 1 (32px) */
  --font-size-display: 4rem; /* Large text for hero sections (48px) */
  /* Colors */
  --color-text: #000000;
  --color-text-gray: #4877cf;
  --color-background: #ffffff;
  --color-primary: #4877cf;
  --color-highlight: #007BFF5f;
}

h1 {
  font-size: var(--font-size-display);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
  padding: 0%;
}

p {
  line-height: 1.2;
  font-size: var(--font-size-body);
}

button {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::selection {
  color: var(--color-primary);
  background-color: var(--color-background);
}

::-moz-selection {
  color: var(--color-primary);
  background-color: var(--color-background);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size-body);
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  position: absolute;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

header nav ul li {
  text-transform: capitalize;
  margin: 3px;
  padding: 8px 16px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: var(--font-size-small);
  transition: all 500ms ease-in;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

header nav ul li a:hover {
  cursor: pointer;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

main #hero-section {
  min-height: 70svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main #hero-section #hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

main #hero-section #hero-left .small-text {
  font-size: var(--font-size-small);
}

main #hero-section #hero-left h1 {
  text-align: center;
  filter: drop-shadow(0 1 0.7rem var(--color-primary));
}

main #hero-section #hero-left h1 span {
  color: var(--color-primary);
}

main #hero-section #hero-left #typing-text {
  margin-left: 0.2rem;
  color: var(--color-text-gray);
  font-size: var(--font-size-subheading);
}

main #hero-section #hero-left #cursor {
  display: inline-block;
  background-color: var(--color-text-gray);
  margin-left: 0.1rem;
  width: 2px;
  height: 1.1rem;
  animation: cursor-blink-animation 0.9s infinite;
}

main #hero-section #hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #hero-section #hero-right #ring {
  border-radius: 50%;
  outline: 1px solid var(--color-primary);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s;
}

main #hero-section #hero-right #ring:hover {
  padding: 18px;
  outline: 4px solid var(--color-primary);
}

@media (max-width: 575.98px) {
  main #hero-section #hero-right #ring {
    margin-bottom: 25px;
  }
  main #hero-section #hero-right {
    margin-top: 30px;
  }
  main #hero-section {
    grid-template-columns: 1fr;
    margin-top: 125px;
  }
}

@keyframes cursor-blink-animation {
  0%, 49% {
    background-color: var(--color-text-gray);
  }
  50%, 99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--color-highlight);
  }
}

main #about-section {
  max-width: 80%;
  margin: auto;
}

main #about-section h2 {
  margin: 12px 0px 12px;
  font-size: var(--font-size-heading);
}

main #about-section p {
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--color-text-gray);
}

main #about-section p span {
  color: var(--color-primary);
}

main #about-section li {
  margin: 25px 0px 20px;
  line-height: 1.6;
  font-size: var(--font-size-body);
  color: var(--color-text-gray);
}

main #about-section li b {
  color: var(--color-text);
}

main #expertise-section {
  max-width: 80%;
  margin: auto;
  margin-top: 55px;
}

main #expertise-section h2 {
  font-size: var(--font-size-heading);
}

main #expertise-section #expertise-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  gap: 12px;
  margin-top: 12px;
}

main #expertise-section #expertise-card-container .expertise-card {
  width: auto;
  outline: 1px solid var(--color-primary);
  border-radius: 12px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  color: var(--color-text-gray);
  transition: all 0.5s;
}

main #expertise-section #expertise-card-container .expertise-card img {
  height: 60px;
  width: 60px;
}

main #expertise-section #expertise-card-container .expertise-card span {
  margin-left: 12px;
  font-size: var(--font-size-body);
}

main #expertise-section #expertise-card-container .expertise-card:hover {
  outline: 2px solid var(--color-primary);
  color: var(--color-text);
  cursor: pointer;
}

/* Project section styles removed */
